
.product__desktop { 
  @include flex-box( center, flex-start );
  min-height: 100%;
  margin: 40px auto 40px auto;
  padding-bottom: 2px;
  max-width: 1184px;
  min-width: 800px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0rgba(0,0,0,.25);
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.product__left--block { 
  max-width: 800px;
  &--content { 
    width: auto;
    margin-left: 50px;
    padding-bottom: 30px;
  }
}

.product__right--block { 
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 48px;
  min-width: 325px;
  width: 325px;
  height: max-content;
  &--one, &--two, &--three { 
    padding: 24px 0;
    height: max-content;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  &--two, &--three { padding: 32px 0px; }
}