
.filters__mobile {
  width: 100vw;
  &__modal {
    @include flex-box( center, flex-start );
    flex-direction: column;
    background-color: $white;
    z-index: 100;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    height: max-content;
    visibility: hidden;
    top: 100%;
    transition: 3s all ease-in;
    &--show {
      visibility: visible;
      top: 0px;
      body{  overflow-y: hidden;}
    }
  }

  &__content { 
    overflow: hidden;
    overflow-y: auto;
    max-height: 100vh;
    width: 100vw;
  }

  &__header { 
    width: 100%;
    position: relative;
    &--title {
      padding: 101px 32px 53px;
    }
    &--back {
      position: absolute;
      left: 27px; 
      top: 16px;
      cursor: pointer;
    }
    h1 { 
      font-size: 2rem;
      font-weight: 600;
      color: rgba(0,0,0,.9);
      line-height: 1; 
    }
  }
  @include media-up( mdl ) { 
    display: none;
  }
}
