
.opinions { 
  &__nav { 
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #E5E5E5;
    &--button { 
      width: 33.33%;
      font-size: 14px;
      color: $black_dark;
      padding: 17px 16px;
     
    }
  }
  @include media-up( md ) { 
    &__nav { 
      &--button { 
        &:hover { cursor: pointer; }
        font-size: 16px; 
        padding: 16px 24px;
      }
    }
  }
}

.button--active { 
  color: $sort_color;
  border-bottom: 2px solid $sort_color;
}
