.products__main__container {
  @include media-up( mdl ) { 
    @include flex-box( center, flex-start );
    margin: 50px auto 0 auto;
    padding-left: 10px;
    padding-right: 28px;
    max-width: 1215px;
    background-color: $background;
  }
}

.presentation { 
  @include flex-box();
  flex-direction: column;
  min-height: 100vh;
  &__text { 
    color: $black_dark;
    font-size: 20px;
    line-height: 1.75rem;
  }
  &__subtitle { 
    font-size: 19px;
    font-family: 'Proxima Nova Light';
    color: $black_five;
    margin: 8px 0;
  }
  &__links { 
    @include flex-box();
    gap: 12px;
    &--link {  
      color: $sort_color;
      &:hover { 
        cursor: pointer; 
        color: darken($color: $sort_color, $amount: 10)
      }
    }
  }
}