.products__main__container {
  @include media-up( mdl ) { 
    @include flex-box( center, flex-start );
    margin: 50px auto 0 auto;
    padding-left: 10px;
    padding-right: 28px;
    max-width: 1215px;
    background-color: $background;
  }
}

.nothing__search { 
  @include flex-box();
  min-height: 80vh;
  &__img { 
    height: 170px;
    opacity: 0.3;
  }
  &__text { 
    padding-left: 20px;
    color: $grey;
  }
}