
.header { 
  padding: 0 16px;
  &__icon { 
    stroke: none;
    height: 15px;
    fill: $grey;
  }
  &__top { 
    @include flex-box( space-between, center );
    margin-bottom: 8px;
    &__condition, &__mount, &__separator {  
      font-size: 12px;
      padding-right: 3px;
      color: rgba(0,0,0,.55);
      font-weight: 400;
    }
  }
  &__title { 
    font-size: 16px;
    color: rgba(0,0,0,.8);
  }
  &__stars--desktop { display: none; }

  @include media-up( lg ) { 
    &__top {
      &__condition, &__mount, &__separator { 
        font-size: 14px;
      }
    }
    &__title { font-size: 22px; margin-bottom: 8px; }
    &__stars { display: none; }
    &__stars--desktop { 
      display: inline-block;
    }
  }
}