.box {
  @include flex-box( center, flex-start, nowrap );
  width: 100%;
  height: 172px;
  padding: 5px;
  border-bottom: thin solid #eee;
  background-color: $white;

  // &:first-of-type { border-radius: 4px 4px 0 0 !important; background-color: red !important; }

  &__image {
    &--container {
      &:hover{ cursor: pointer; }
      flex: 2;
      min-height: 100%;
      height: 100%;
      max-width: 160px;
      position: relative;
      overflow: hidden;
      display: flex;
      vertical-align: top;
      img {
        border-radius: 6px;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        object-fit: contain;
      }
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: hsla(0,0%,100%,.9);
    &--icon {
      stroke: $sort_color;
      top: 9px;
      height: 18px;
    }
  }

  &__information {
    height: 100%;
    flex: 3;
    padding: 20px 5px 5px 5px;
    h6 {
      font-family: 'Proxima Nova Light';
      font-size: 15px;
      font-weight: 500;
      color: $black_five;
      line-height: 1.3;
      &:hover{ cursor: pointer; }
    }
    &__block {
      @include flex-box();
    }
    &__price {
      padding: 5px 0px 0px 0px;
      @include flex-box( center, flex-start );
      flex-direction: column;
      &:hover{ cursor: pointer; }
      &--original {
        display: none;
        font-size: 12px;
        color: $grey;
        position: relative;
        font-weight: 400;
        &::after {
          content: '';
          border-bottom-style: solid;
          border-bottom-width: 1px;
          display: block;
          height: 1px;
          position: absolute;
          top: 40%;
          width: 100%;
        }
      }
      &--fraction { 
        font-family: 'Proxima Nova Light';
        color: $black_five;
        font-size: 20px;
        span { font-weight: 400; }
      }
      &--offert {
        font-size: 12px;
        color: $green;
        vertical-align: top;
        padding-left: 5px;
        span { font-weight: 400; }
      }
    }
    &__installments {
      span {
        color: $green;
        font-size: 12px;
        font-weight: 400;
      }
    }
    &__group {
      @include flex-box( flex-start );
      padding-top: 10px;
      line-height: 1;
      span {
        font-size: 12px;
        font-weight: 400;
        color: $green;
        margin-right: 10px;
      }
    }
  }
}

@include media-up( md )  {
  .box {
    &__favorite {
       display: none;
    }

    &__image {
      &--container {
        max-height: 160px;
        margin: 0px 25px;
        img { margin: 10px auto; }
      }
    }

    &__information { 
      padding: 20px 50px 20px 0;
      h6 { 
        font-weight: 300; 
        font-size: 20px; 
        color: #333333;
      }
      &__price {
        margin-top: 10px;
        &--fraction {
          font-family: 'Proxima Nova';
          font-size: 24px;
          font-weight: 400;
        }
        &--original {
          display: flex;
        }
      }
      &__installments, &__group {
        span { font-size: 14px; }
      }
    }
  }
} 
@include media-up( lg )  {
  .box { 
    height: 201px;
  }
}