
.dropdown {
  &__container { 
    width: 100%;
    overflow-y:auto;
    // padding-top: 16px;
  }
  &__header {
    @include flex-box( flex-start, center );
    &:hover { cursor: pointer; }
    &__title { 
      font-size: 14px;
      color: $sort_color;
      padding-right: 8px;
    }
    &__icon { 
      stroke: $sort_color;
      transform: rotate(90deg);
    }
    &--hidden { 
      display: none;
    }
  }

  &__button { 
    font-size: 16px;
    color: $sort_color;
    padding: 20px 16px;
    &:hover { cursor: pointer;}
    &--disabled { display: none; }
  }

  &__content { 
    position: relative;
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    &--show { 
      min-height: 100%;
      max-height: max-content;
    }
  }

  @include media-up( lg ) { 
    &__container { padding-top: 0; }
  }
}
