
.filters__mobile {
  &__modal {
    @include flex-box( center, flex-start );
    flex-direction: column;
    background-color: $white;
    z-index: 100;
    width: 100%;
    position: absolute;
    height: max-content;
    max-height: max-content;
    overflow-y: scroll;
    visibility: hidden;
    top: 100%;
    transition: .250s all ease-in;
    &--show {
      visibility: visible;
      top: 0;
    }
  }

  &__header { 
    position: relative;
    &--title {
      padding: 101px 32px 53px;
    }
    &--back {
      position: absolute;
      left: 27px; 
      top: 16px;
    }
    h1 { 
      font-size: 2rem;
      font-weight: 600;
      color: rgba(0,0,0,.9);
      line-height: 1; 
    }
  }
}