.filters__nav {
  @include flex-box( space-around );
  position: relative;
  width: 100%;
  min-height: 53px;
  background-color: $white;
  border-bottom: 1px solid rgba(0,0,0,.07);
  border-top: 1px solid rgba(0,0,0,.07);
  
  &__arrives {
    @include flex-box();
    min-width: 160px;
    padding: 0 10px 0 15px;
    span { 
      font-size: 14px;
      color: $black_five; 
      font-weight: 400;
    }
  }

  &__bottom {
    @include flex-box();
    flex: 1 1 auto;
    cursor: pointer;
    img {
      display: none;
      height: 14px;
      width: 14px;
      margin-right: 10px;
    }
  }
  span {
    color: $sort_color;
    font-size: 14px;
    font-weight: 400;
  }

  &__bottom:first-child, &__arrives {
    position: relative;
    &::after {
      content: '';
      border-right: 1px solid #ddd;
      position: absolute;
      height: 20px;
      right: 0;
    }
  }

  @media screen and ( min-width: 362px ) {
    img { display: flex; } 
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  margin: 0 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.switch input { display: none; }
.slider::before {
   position: absolute;
   content: "";
   height: 12px;
   width: 12px;
   left: 3px;
   bottom: 5px;
   top: 2px;
   background-color: $white;
   transition: 0.4s;
   border-radius: 50px;
}
input:checked + .slider {
  background-color: $sort_color;
}
input:checked + .slider::before {
  transform: translateX(15px);
}