.q-and-a { 
  &__container { 
    width: 100%;
    max-width: 875px;
    @include flex-box( center, flex-start );
    flex-direction: column;
    &::before { 
      content: "";
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      width: 100vw;
      height: 1px;
      margin: 40px 0;
    }
    &::after { 
      content: "";
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      width: 100vw;
      height: 1px;
      margin: 40px 0;
    }
  }
  &__search, &__title, &__preview { 
    padding: 0 16px;
  }

  &__modal { padding: 25px 45px; }

  &__title { 
    font-size: 20px;
    color: $black_dark;
    margin-bottom: 25px;
  }

  &__search { 
    width: 100%;
    &__title {
      font-size: 18px;
      color: $black_dark;
      line-height: 1.25;
    }
    &__form { 
      width: 100%;
      height: 48px;
      margin-top: 16px;
      border-radius: 8px;
      position: relative;
      pointer-events: disabled;
      font-size: 16px;
    }
    &__input {  
      border: 1px solid #bfbfbf;
      width: 100%;
      height: 100%;
      outline: none;
      background-color: transparent;
      color: $black_dark;
      padding-left: 16px;
      border-radius: 8px;
      font-size: 16px;
      &:focus { border: 2px solid $sort_color;  }
      &::placeholder {
        color: #C5BFBF;
        font-size: 14px;
      }
    }
    &__box { 
      @include flex-box();
      background-color: $sort_color;
      min-width: 48px;
      min-height: 48px;
      position: absolute;
      right: 0;
      top: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      cursor: not-allowed;
    }
    &__icon { 
      height: 20px;
    }
  }
  
  &__preview { 
    margin-top: 40px;
    &__title { 
      font-size: 18px;
      color: $black_dark;
      line-height: 1.25;
      font-weight: 100;
    }
  }

  &__seller {
    @include flex-box();
    margin: 0 auto;
    width: 91%;
    border-radius: 6px;
    min-height: 48px;
    background-color: #D9E7FA;
    &__text {
      margin-left: 18px;
      font-size: 16px;
      color: $sort_color;
    }
    &__icon { 
      height: 18px;
    }
  }
  
  &__empty {
    display: block;
    padding: 25px 0;
    color: $grey;
    margin-left: 16px;
  }

  @include media-up( lg ) { 
    &__container { 
      margin-bottom: 48px;
      &::before, &::after { display: none; }
      &::before { 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin: 40px 40px 40px 0px;
      }
    }
    &__search, &__title, &__preview { padding: 0; }
    &__title { font-size: 24px; }
    &__seller {  
      width: 316px; 
      margin: 0;
    }
    &__modal { margin: 30px 0 24px 0; padding: 0; }
    &__fontsize { font-size: 16px; }
    &__empty { margin-left: 0; }
  }
}