
.reviews { 
  &__header, &__modal { padding: 0 16px; }
  &__header { 
    &__title { 
      font-family: 'Proxima Nova Light';
      font-size: 20px;
      color: $black_five;
      padding: 0 2px 30px;
    }
    &__block {
      @include flex-box( flex-start, center, wrap );
      height: max-content;
      &--porcentage { 
        font-size: 64px;
        margin-right: 16px;
        color: $black_dark;
        font-family: 'Proxima Nova Light';
      }
    }
  }

  &__modal { 
    @include flex-box( flex-start );
    &__box {
      @include flex-box( center, space-around );
      flex-direction: column;
      height: 100%;
      &--b { @include flex-box() }
    }
    &__icon { 
      transform: rotate(90deg);
      padding-left: 5px;
      margin-bottom: 8px;
      &--show {
        transform: rotate(-90deg);
      }
    }
    &__opinions { 
      margin-top: 8px;
      font-size: 14px;
      color: $grey;
    }
  }
}

.ans { 
  position: relative;
  height: 0px;
  overflow: hidden;
  height: max-content;
}

@include media-up( lg ) { 
  .reviews { 
    &__header { 
      padding: 0;
      &__title { 
        font-size: 24px;
      }
    }
    &__modal { 
      @include flex-box( center, flex-end );
      flex-direction: column;
      margin-right: 56px;
      &__icon { display: none; }
      &__opinions { text-align: right; }
    }
  }

}