
.carousel__container { 
  margin-top: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 570px;
  height: 80vw;
  max-height: 470px;
  padding: 0 16px;
  position: relative;
  @include flex-box()
}

.carousel { 
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &__item { 
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    scroll-snap-align: start;
    &__image { 
      padding: 16px;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__icon { 
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 14px;
    background-color: $background;
    border-radius: 50%;
    padding: 10px;
    stroke: $black_one;
  }
}

::-webkit-scrollbar { 
  height: 0;
  width: 0;
}