
.filters__active { 
  @include flex-box( flex-start, center, wrap );
  width: 100%;
  margin: 0px 0 15px 25px;
  
  &__filter {
    @include flex-box();
    font-family: 'Proxima Nova Variant', sans-serif;
    font-size: 14px;
    height: 32px;
    width: max-content;
    padding: 0 .2857142857em;
    margin: 0 8px 8px 0;
    border-radius: 16px;
    background-color: rgba(0,0,0,.04);
    cursor: pointer;
    &--label {
      font-size: inherit;
      color: rgba(0,0,0,.62);
      padding: 0 0.53em;
    }
    &--icon { 
      height: 16px;
      width: 16px;
      margin-right: 5px;
      margin-top: 1px;
    }
  }

  @include media-up( mdl ) { 
    display: none;
    &__filter {
      border-radius: 1px; 
      max-height: 26px;
      background-color: $white;
    }
  }
}

.not-filters { 
  display: none;
}