@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500&family=Roboto:wght@300&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Roboto Flex', sans-serif;

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src:
    url('../../assets/fonts/ProximaNova-Regular.otf') format('woff2'),
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Proxima Nova', sans-serif !important;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 400;
  }

  li {
    list-style: none;
    list-style-type: none;
  }

}

// Variables
$primary: #fff159;
$white: #ffffff;
$white_two: #b8b8b8;
$black: #000000;
$background: #ededed;
$black_one: #363636;
$black_two: #4d4b3c;
$black_three: #666666;
$black_four: #736C28;
$black_five: #333333;
$color_count: #b9b4b5;
$green: #00a650;
$green_background: #e6f7ee;
$blue: #6c8cf7;
$sort_color: #3483fa;
$sort_hover: #d8d8d8d8;

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1180px,
);

// Mixin
@mixin media-up( $breakpoint ) {
  @media screen and ( min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin flex-box( $justify: center, $align: center, $wrap: nowrap ) {
  display: flex; 
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin settings-img( $width, $height ) {
  width: $width;
  min-width: $width;
  height: $height;
}

// Basic Class
.btn {
  display: inline-block;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in 0s;
}
